*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(221, 194, 252);
    color:rgb(48, 13, 84)
}
.logo {
    text-align: center;
}
.container ul {
    margin: 20px;
    text-align: center;
    list-style-type: none;
}
.container ul li {
    display: inline;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    position: relative;
}
.container ul li a {
    text-decoration: none;
    color:rgb(48, 13, 84);

}
.container ul li:after {
    content: '';
    height: 5px;
    width: 0;
    background: rgb(48, 13, 84);
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
}
.container ul li:hover::after{
    width: 100%;
}

.menu_background {
    background-image: url("../images/background_menu.jpg");
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.menu_background h2{
    text-align: center;
    color: rgb(255, 205, 139);
    font-size: 100px;
    background:none;
}
.service_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service_menu h2 {
    margin: 150px 150px;
    font-size: 35px;
}
.service_menu .service_details {
    margin: 80px 120px 50px 80px;
    font-size: 20px;
}
.service_menu .service_prices {
    margin: 80px 30px 10px 80px;
    font-size: 20px;
}
.all_treatment {
    text-align: center;
}
.all_treatment h2 {
    margin: 150px 150px;
    font-size: 35px;
}
.all_treatment .treatment_details {
    margin: 10px 50px; 
    font-size: 20px;
}
.all_treatment .treatment_details .first_line {
    display:flex;
    justify-content: center;
}
.all_treatment .treatment_details .first_line p {
    margin: 0px 40px;
}
.all_treatment .treatment_details .second_line {
    display:flex;
    justify-content: center;
}
.all_treatment .treatment_details .second_line p {
    margin: 10px 60px;
}





